<h1>Olvidaste contraseña</h1>

<p>Ingresa tu correo</p>
<form action="/api/sessions/forgot-password" method="post">
    <input type="email" name="email" placeholder="Ingresa tu correo">
    <br/>
    <button>Enviar link a mi correo</button>

</form>