<h1>Reestablece contrase単a</h1>

<p style="color: red">{{error}}</p>
<br>
<p>Ingresa tu nueva constrase単a</p>

<form action="/api/sessions/reset-password?token={{token}}" method="post">
    <input type="password" name="newPassword" placeholder="Ingresa tu nueva contrase単a">
    <button>Reestablecer Contrase単a</button>
</form>